/*form.addEventListener("submit", function (event){
    event.preventDefault()
})*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: Dance;
  src: url("Fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf");
}

@font-face {
  font-family: Indie;
  src: url("Fonts/Indie_Flower/IndieFlower-Regular.ttf");
}

@font-face {
  font-family: Square;
  src: url("Fonts/Square_Peg/SquarePeg-Regular.ttf");
}

:root{
  --primary-color:  hsl(213, 69%, 97%);
  --secondary-color:  hsl(218, 84%, 13%);
}

.light-theme{
   --primary-color:  hsl(218, 84%, 13%);
  --secondary-color:  hsl(234, 25%, 92%);
}

body{
  font-size: medium;
  font-family: 'Indie', Courier, monospace;
   background-color: var(--secondary-color);
    color: var(--primary-color);

}

 header {
    display: block;
    position: absolute;
    width: 100%;
    border: 3px solid var(--primary-color);

    color: var(--primary-color);
     margin-bottom: 7em;
    
  }


  .navbar{
    width: 100%;
    min-height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    flex-wrap: nowrap;
  }



  nav > ul {
    display: inline;
    padding: 0;
     display: flex;
    gap: 5px;
    margin-left: 70%;
  }


  
  nav > ul > li {
    display: inline-block;
    list-style: none;
    margin: 0 5px 0 5px;
  }

  li{
    padding: 0.5em;
  }

#icon{
  width: 30px;
  cursor: pointer;
  margin-right: 3em;
}

main{
  margin-left: 35%;
  padding-top: 7em;
  font-size: 14px;
}



#p {
  line-height: 1.4;
  margin-bottom: 1em;
  margin-top: 1em;
}


a{
  text-decoration: none;
  color: var(--primary-color);
}

.form{
    padding: 1em;
   
}

input[type=text] , input[type=email] , input[type=password] , input[type=submit]{
    width: 50%;
    padding: 12px 20px;
    margin: 12px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    border-radius: 5px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    }   

button {
   width: 25%;
   margin-left: 13%;
   margin-top: 8px;
   margin-bottom: 5em;
   border-radius: 8px;
   border: 2px solid var(--secondary-color);
   cursor: pointer;
   color: var(--secondary-color);
   background-color: var(--primary-color);
}

input[type=text]:focus , input[type=password]:focus{
  border: 3px solid #555;
}

button:hover{
    background-color: aqua;
}

#toggle {
  position: relative;
  display: block;
  width: 50px;
  height: 15px;
  border-radius: 16px;
  background-color: #222;
  transition: 0.5s;
  cursor: pointer;
  box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1),
              inset 0 8px 8px rgba(0, 0, 0, 0.1),
              inset 0 -4px 4px rgba(0, 0, 0, 0.1);
}

#toggle  .indicator 
{
  width: 25px;
  height: 15px;
  background: linear-gradient(to bottom,#444,#222);
  border-radius: 50%;
  transform: scale(0.9);
   box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.5),
              inset 0 8px 8px rgba(255,255, 255, 0.2),
              inset 0 -4px 4px rgba(255, 255,255, 0.2);

}

#toggle.active .indicator{
  left: 1;
}

.switch{
    position: relative;
    display: inline-block;
    width: 110px;
    height: 60px;
}

.slider{
  position:absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgb(255, 0, 157);
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before{
  position: absolute;
  content: "";
  height: 50px;
  width: 50px;
  left: 5px;
  bottom: 5px;
  background-color: rgb(204, 24, 24);
  transition: 0.4s;
  border-radius: 50px;
}

input:checked * .slider{
  background-color: aqua;
}

input:checked * .slider:before{
  transform: translateX(50px);
}

#planet{
      font-size:large ; 
      font-family: Square;
      margin-left: 20px;
      font-weight:900;
}

@media only screen and (max-width: 768px) {

  html{
    width: 100;
    height: 100;
  }
  header{
    height: 8vh;
    width: 100%;
    margin: 0;
  }

  nav > ul {

    margin-left: 25%;
  }

  #icon{
  margin-right: 0.5em;
}

#planet{
      font-size: medium ; 
      font-family: Square;
      margin-left: 2px;
}

main{
  margin-left: 15%;
}
  
input[type=text] , input[type=email] ,
 input[type=password] , 
 input[type=submit]{
    width: 80%;
}

button {
   margin-left: 10%;
   width: 55%;
}

}